{% extends 'common.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'details.css' %}">
{% endblock styles %}
{% block content %}
<script>
window.addEventListener('load', function() {
    let toCartBtn = document.getElementById("add-to-cart");
        increase = document.getElementById("increase");
        decrease = document.getElementById("decrease");
        counter = document.getElementById("counter");

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    toCartBtn.addEventListener("click", function(event) {
        event.preventDefault(); // Отменяем стандартное действие кнопки

        fetch(`{% url "cart" %}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFTOKEN": csrftoken
            },
            body: JSON.stringify({
                "productId": {{ product.id }}
            })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error("Ошибка:", error));
    });
    increase.onclick = function () {
    let value = parseInt(counter.innerHTML);
    if (isNaN(value)) value = 0;  // Проверяем, является ли значение числом
    if(value < {{ product.stock }}) value++;
    counter.innerHTML = value.toString();
};
decrease.onclick = function () {
    let value = parseInt(counter.innerHTML);
    if (isNaN(value)) value = 0;
    if(value>0) value--;
    counter.innerHTML = value.toString();
};

});
</script>

<div class="product-container">
    <div class="image-container">
        {% for image in product.productimage_set.all %}
            <img src="{{ image.image.url }}" height="300px" alt="Изображение товара">
        {% endfor %}
    </div>
    <div class="info-container">
        <h1>{{ product.title }}</h1>  <!-- Исправлено -->
        <p>{{ product.description }}</p>
        <h3>{{ product.price }} руб.</h3>
        <div class="counter-block">
            <button class="btn btn-light" id="decrease">-</button>
            <b id="counter">0</b>
            <button class="btn btn-light" id="increase">+</button>
        </div>
        <button type="button" class="btn btn-danger" id="add-to-cart">Добавить в корзину</button> <!-- Исправлено -->
    </div>
</div>
{% endblock content %}

