{% extends 'common.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'details.css' %}">
{% endblock styles %}
{% block content %}
<div class="product-container">
    <div class="image-container">
        {% for image in product.productimage_set.all %}
            <img src="{{ image.image.url }}" height="300px" alt="Изображение товара">
        {% endfor %}
    </div>
    <div class="info-container">
        <h1 class="{{ product.title }}"></h1>
        <p>{{ product.description }}</p>
        <h3>{{ product.price }}</h3>
        <a href="#" type="button" class="btn btn-danger">Добавить в корзину</a>
    </div>
</div>
{% endblock content %}
