{% extends 'common.html' %}
{% block content %}
    <h2>Корзина</h2>

    {% if cart %}
        {% for product, quantity_price in cart.items %}
            {% if discount %}
                <h3>{{ product.title }}: {{ product.discount_price }} x {{ quantity_price.0 }} = {{ quantity_price.1 }}</h3>
            {% else %}
                <h3>{{ product.title }}: {{ product.increased_price }} x {{ quantity_price.0 }} = {{ quantity_price.1 }}</h3>
            {% endif %}
        {% endfor %}

        <hr>
        <h2>Общая сумма: {{ total_sum }}</h2>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock content %}